body{
  background: #000;
  /*overflow: hidden;*/
}
.carousel{
  background: #000;
  position: relative;
  display: block;    
}
.carousel:focus{
 outline: 0;
}
.carousel .slides{
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel .slides:first-child{
  position: relative;
}
.carousel .slides img{
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  position: relative;
}
.carousel .currentSlide {
  z-index: 3;
}
.carousel .currentSlide img{
  opacity: 1;
}

.carouselNext, .carouselPrevious{
  color: #fff;
  position: absolute;
/*  background: #000;
  background: rgba(0,0,0, .6);*/
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carouselNext:hover, .carouselPrevious:hover{
  cursor: pointer;
/*  opacity: 1;*/
}
.carouselNext{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.carouselPrevious{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.carouselNext:after {
    background: url("http://www.six-am.net/assets/sampleimgs/vector-arrow.svg") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    content: "";
    height: 40px;
    position: absolute;
    right: 0;
    top: 134px;
    transform: scaleX(-1);
    width: 23px;
}
.carouselNext:after {
    cursor: pointer;
    display: block;
    height: 308px;
    position: absolute;
    right: 5px;
    top: 0;
    width: 40px;
    z-index: 99999;
}

.carouselPrevious:after {
    background: url("http://www.six-am.net/assets/sampleimgs/vector-arrow.svg") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    top: 134px;
    width: 23px;
}

.carouselPrevious:after {
    color: #fff;
    cursor: pointer;
    display: block;
    height: 308px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 9;
}
